<nav class="navbar navbar-expand-sm navbar-light bg-dark " style="z-index:5;>
    <div class="container-fluid">
        <a class="navbar-brand" href=" ">
            <img src="https://i.postimg.cc/RZSD7FZd/logo.png" alt="" href="/ " class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-2">
                    <a class="nav-link active  rounded text-light" aria-current="page" href="/ ">Home</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active rounded text-light" href="/analysis">Analysis</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link active  rounded text-light" href="/submitResult">Submit Data</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
